Hi <%= @receiver.name %>,
</p>
<p>
  You have redeemed for a <%= @reward.title %>.
</p>

<p>
Here is the code reference: <b><%= Devise.friendly_token %><b>.
<br>
<br>Please contact admin@geniuspass.com and let us know the reward you redeemed.

<br><br>
Thank you for your contribution.