<!-- Hero unit -->
<section class="page-title page-title-medium parallax6 parallax-fix" style="background: url(https://i.imgur.com/ykPiux9.jpg) 100% 0px;">
	<div class="opacity-light bg-black"></div><!-- adds transparent black overlays -->
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-5">
				<h1 class="white-text letter-spacing-3">Unlimited Access Pass for Your Child</h1>
				<span class="white-text letter-spacing-1">
					GeniusPass gets your children to the best classes and facilities in the city. Unlimited access to the top rated centers and studios. Transform their lifestyles. Make them a Genius.
				</span>
			</div>
		</div>
	</div>
</section>
<!-- end Hero unit -->

<!-- How it Works -->
<section class="padding-five">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-10 center-col text-center no-margin-top margin-eight">
        <h2 class="no-margin-top ">
        	<strong>How it works</strong>
        </h2>
        <div class="separator-line bg-yellow margin-three"></div>
      </div>
    </div>
    <div class="row">
      <!-- features grid -->
      <!-- features item -->
      <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six">
        <i class="icon-laptop medium-icon gray-text"></i>
        <h5 class="margin-ten no-margin-top xs-margin-bottom-five">Discover</h5>
        <p class="deep-gray-text">Spend quality time exploring classes with your children.</p>
      </div>
      <!-- end features item -->
      <!-- features item -->
      <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six">
        <i class="icon-calendar medium-icon gray-text"></i>
        <h5 class="margin-ten no-margin-top xs-margin-bottom-five">Book</h5>
        <p class="deep-gray-text">Reserve their favourite classes from thousands of options.</p>
      </div>
      <!-- end features item -->
      <!-- features item -->
      <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six">
        <i class="icon-map medium-icon gray-text"></i>
        <h5 class="margin-ten no-margin-top xs-margin-bottom-five">Walk In</h5>
        <p class="deep-gray-text">Your children can walk into the reserved classes by showing a GeniusPass card.</p>
      </div>
      <!-- end features item -->
      <!-- features item -->
      <div class="col-md-3 col-xs-6 text-center features-box-style1 sm-margin-bottom-six">
        <i class="icon-bike medium-icon gray-text"></i>
        <h5 class="margin-ten no-margin-top xs-margin-bottom-five">Fun & Learn</h5>
        <p class="deep-gray-text">Your loved ones enjoy the exclusive classes and learn new skills.</p>
      </div>
      <!-- end features item -->
      <!-- end features grid -->
    </div>
  </div>
</section>
<!-- end How it Works -->

<!-- Hero unit -->
<section class="page-title page-title-medium parallax6 parallax-fix" style="background: url(https://i.imgur.com/vm52nKg.jpg) 100% 0px;">
	<div class="opacity-light bg-black"></div><!-- adds transparent black overlays -->
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-5">
				<h1 class="white-text letter-spacing-3">Thousands of Activities</h1>
				<span class="white-text letter-spacing-1">
					Now children from age 4 to 17 can enjoy variety of classes like Taekwondo, Futsal, Badminton, Swimming, Painting, Arithmetic, Karate, Zumba, Yoga, Ballet, Drumming, and more. We are adding new classes and facilities everyday.
				</span>
			</div>
		</div>
	</div>
</section>
<!-- end Hero unit -->
