<% provide(:title, "Request Invite") %>

<%= render 'layouts/nav' %>

<!-- Request Invite section -->
<section class="margin-two">
  <%= render 'shared/invite' %>
</section>
<!-- end Request Invite section -->
