<% provide(:title, "Pricing") %>

<%= render 'layouts/nav_dark_text' %>

<section>
  <div class="container">
    <div class="row">
      <div class="pricing">
        <div class="col-md-4 center-col sm-margin-bottom-five sm-no-margin-top">
          <div class="pricing-box no-border">
            <div class="pricing-title">
              <h3>Pricing</h3>
            </div>
            <div class="pricing-price">
              <span class="price-unit">RM</span>99<span class="price-tenure">/month for 1st child</span>
            </div>
            <div class="pricing-features">
              <ul>
                <li><strong>Unlimited</strong> Classes</li>
                <li>Extra child will only cost RM70/mth/child</li>
              </ul>
            </div>
            <div class="pricing-action">
              <%= link_to 'Request Invite', invite_path, class: "highlight-button-dark btn btn-medium btn-round button" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
