<% provide(:title, "Privacy Policy") %>
<% provide(:page_title_bg, asset_path('page-bg.jpg')) %>

<div class="content policy-page white-bg">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Privacy Policy' } %>

  <div class="container">
    <ol class="privacy-policy-list">
      <li class="a">
        Introduction
        <ol>
          <li>This is the privacy policy ("Privacy Policy") of GeniusPass Enterprise (including all its subsidiaries, related and/or associated companies) (these entities are collectively referred to as "GeniusPass", "we", "us" or "our"). GeniusPass is committed to respecting and protecting your privacy online. This Privacy Policy explains our practices regarding the collection, use, disclosure and transfer of your personal data.</li>
          <li>This Privacy Policy is incorporated as part of the GeniusPass's Terms of Use. Your use of the Platform and/or Service is subject to the Terms of Use and this Privacy Policy. Unless specifically defined in this Privacy Policy, the defined terms shall have the same meaning as defined in the Terms of Use.</li>
          <li>To process, administer and/or manage your relationship with us, we will necessarily need to collect, use, disclose and/or transfer your personal data. This Privacy Policy applies to personal data about you (GeniusPass members, GeniusPass Partners, business/marketing partners, agents, vendors, distributors, suppliers, contractors, service providers, etc) and/or individuals provided by you, possessed by us or that we obtain about you, whether now or in the future. We will only process your personal data in accordance with the prevailing personal data protection and privacy laws of the countries we operate in and this Privacy Policy.</li>
          <li>If you are a company, an entity or an organisation, references to the term "you" and "your" shall also include your employees, representatives and agents.</li>
          <li>By accessing, browsing, downloading and/or using our Platform and/or Service or by dealing with us, you acknowledge that you have read and understood this Privacy Policy and agree to us processing your personal data in accordance with the manner as set out in this Privacy Policy, as amended from time to time.</li>
          <li>We may revise or update this Privacy Policy at any time by posting a revised/an updated version on the Platform. Unless stated otherwise, any revision or update takes effect immediately. Your continued access and/or use of our Platform and/or Service or dealing with us after a revision or update to this Privacy Policy constitutes your binding acceptance of the revised or updated Privacy Policy.</li>
          <li>It is necessary for us to collect and process your personal data. If you do not provide us with your personal data, or do not consent to this Privacy Policy or any amendments to this Privacy Policy, we may not be able to render all services to you and you may be required to terminate your relevant agreement with us and/or stop accessing or using the Platform and/or Service.</li>
        </ol>
      </li>

      <li class="a">
        Collection Of Personal Data
        <ol>
          <li>The term "personal data" means any information in our possession or control that relates directly or indirectly to an individual to the extent that the individual can be identified or is identifiable from that information such as name, address, telephone number, passport/identification card number, date of birth, email address, gender, race, bank details, credit/debit card details, etc. The types of personal data collected depend on the purpose(s) of collection. We may "process" your personal data by way of collecting, recording, holding, storing, using, disclosing and/or deleting it.</li>
          <li>Your personal data may be collected from you during your course of dealings with us in any way or manner including pursuant to any transactions and/or communications made from/with us. We may also collect your personal data from a variety of sources, including without limitation, at any meetings, events, activities, contests, customer satisfaction surveys organised and/or sponsored by us, as well as from publicly available sources such as directories and GeniusPass's social media pages, if you follow, like or are a fan of such pages. Further information may also be collected when we exchange communications with you, for example, if you submit a request, file a complaint or contact our support team.</li>
          <li>In addition, we may also receive, store and process your personal data which are provided or made available by any third parties whom you have authorised, credit reference/reporting bodies, regulatory and law enforcement authorities, for reasons including delivery of our Service, performance of conditions of agreements and/or to comply with our legal and regulatory obligations.</li>
        </ol>
      </li>
    </ol>
  </div>
</div>
