- provide(:title, "Privacy Policy")
- provide(:page_title_bg, asset_path('page-bg.jpg'))
.content.policy-page.white-bg
  = render partial: 'layouts/page_title', locals: { page_title: 'Privacy Policy' }
  .container
    - if StaticPageContent.find_by_key("PrivacyPolicy").present?
      = StaticPageContent.find_by_key("PrivacyPolicy").value.html_safe
