- provide(:title, "Terms of Use")
- provide(:page_title_bg, asset_path('page-bg.jpg'))
.content.terms-page.white-bg
  = render partial: 'layouts/page_title', locals: { page_title: 'Terms of Use' }
  .container
    - if StaticPageContent.find_by_key("TermOfUse").present?
      = StaticPageContent.find_by_key("TermOfUse").value.html_safe