<% provide(:title, "Terms of Use") %>
<% provide(:page_title_bg, asset_path('page-bg.jpg')) %>

<div class="content terms-page white-bg">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Terms of Use' } %>

  <div class="container">
    <p>Some intro goes here...</p>

    <ol class="privacy-policy-list">
      <li class="a">
        Title 1
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>etc</li>
        </ol>
      </li>

      <li class="a">
        Title 2
        <ol>
          <li>Item 1</li>
          <li>Item 2</li>
          <li>etc</li>
        </ol>
      </li>
    </ol>
  </div>
</div>
