<% provide(:title, 'Add child') %>
<% provide(:page_title_bg, asset_path('page-bg-child.jpg')) %>

<div class="content add-child-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Add Child' } %>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="content-sidebar">
          <%# render 'shared/children_list' %>
        </div>
      </div>
      <div class="col-md-9">
        <div class="content-main">
          <h3>Add Child</h3>

          <%= form_for [@user, @child], html: { class: "form-container form-horizontal" } do |f| %>
            <%= render 'form', f: f %>

            <div class="form-group form-action">
              <%= f.submit "Add", class: "form-submit-btn gp-button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
