.content-main
  .studio-top
    .studio-image{:style => "background-image: url(#{@partner.img_url});"}
    .studio-info
      %h1.studio-name= @partner.company
      - if @partner.klasses.maximum(:reservation_limit).to_i > 0
        %span.studio-description
          Up to #{@partner.klasses.maximum(:reservation_limit)} visits per month
.content-main
  .studio-listing
    %h3 Upcoming Activities
    = render 'schedules'
