<section class="page-title page-title-small bg-gray content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-7 col-sm-12">
        <h1>Partners</h1><!-- page title -->
      </div>
      <div class="col-lg-3 col-md-5 col-sm-12 breadcrumb text-uppercase xs-display-none">
        <ul class="pull-right"><!-- breadcrumb -->
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Partners", partners_path %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
