<section class="content-top-margin page-title page-title-small bg-dark-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-7 col-sm-12">
        <h1 class="white-text">Partners</h1><!-- page title -->
      </div>
      <div class="col-lg-3 col-md-5 col-sm-12 breadcrumb text-uppercase xs-display-none">
        <ul class="pull-right"><!-- breadcrumb -->
          <li class="white-text"><%= link_to "Home", root_url, class: "white-text" %></li>
          <li class="white-text"><%= link_to "Partners", partners_path, class: "white-text" %></li>
        </ul>
      </div>
    </div>
  </div>
</section>
