<section class="hero-partner-list">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="separator-line bg-yellow no-margin-top margin-four"></div>
        <h1>Our Partners</h1>
      </div>
    </div>
  </div>
</section>
