<% provide(:title, "Partners") %>

<% @partners.each do |partner| %>
  <div>
    <div>
      <%= image_tag partner.img_url, size: "200x100", alt: "photo of #{partner.company}" %>
    </div>
    <div><strong><%= link_to partner.company, partner %></strong></div>
    <div>Activities:
      <%= partner.klasses.map { |klass| klass.name }.join(", ") %>
    </div>
    <div>Location: <%= partner.city.name %></div>
  </div>
  <br><br>
<% end %>
