<% provide(:title, 'Add partner') %>

<h1>Add Partner</h1>

<%= form_for(@partner) do |f| %>

  <%= render 'form', f: f %><br>

  <div class="actions">
    <%= link_to "Cancel", admin_path %>
    <%= f.submit "Create" %>
  </div>
<% end %>
