<% provide(:title, @partner.company) %>
<% provide(:page_title_bg, asset_path('page-bg-partner.jpg')) %>

<div class="content partner-page">
  <%= render partial: 'layouts/page_title', locals: { page_title: 'Partner' } %>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <%= render 'main' %>
      </div>
      <div class="col-md-4 hidden-xs">
        <%= render 'sidebar' %>
      </div>
    </div>
  </div>
</div>
