<% provide(:title, @partner.company) %>

<section class="no-padding-section">
  <div class="container">

    <%= render 'partner_nav' %>

    <div class="row">
      <div class="col-md-8">
        <% if @partner.klasses.present? && @schedules.present? %>
          <%= render 'partner_schedules' %>
        <% elsif @partner.klasses.present? && @schedules.empty? %>
          <%= link_to "+ Add a schedule", new_partner_schedule_path(@partner), class: "green-text" %>
        <% else %>
          <p>
            Looks like you don't have any class created.
            <%= link_to "Create", new_partner_klass_path(@partner), class: "green-text" %> one first.
          </p>
        <% end %>
      </div>
    </div>
  </div>
</section>
