<!-- tab -->
<div class="tab-style6">
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <!-- tab navigation -->
      <ul class="nav nav-tabs nav-tabs-light text-left">
        <li class="active"><a href="#tab3_sec1" data-toggle="tab">Upcoming</a></li>
        <li><a href="#tab3_sec2" data-toggle="tab">Past</a></li>
      </ul>
      <!-- end tab navigation -->
    </div>
  </div>
  <!-- tab content section -->
  <div class="tab-content">
    <!-- tab content -->
    <div class="tab-pane fade in active" id="tab3_sec1">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <%= render 'reservations', reservations: @current_reservations %>
        </div>
      </div>
    </div>
    <!-- end tab content -->
    <!-- tab content -->
    <div class="tab-pane fade in" id="tab3_sec2">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p class="gray-text">Reservations in the past 2 months:</p>
          <%= render 'reservations', reservations: @past_reservations %>
        </div>
      </div>
    </div>
    <!-- end tab content -->
  </div>
  <!-- end tab content section -->
</div>
<!-- end tab -->

