<table class="table table-condensed">
  <thead>
    <tr>
      <th>Children</th>
      <th><%= link_to "+ add", new_user_child_path(current_user), class: "pull-right green-text" %></th>
    </tr>
  </thead>
  <tbody class="text-13px link-underline">
    <% @children.each do |child| %>
      <tr>
        <td><%= child.first_name %></td>
        <td class="pull-right"><%= age(child) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
