<% provide(:title, "Dashboard") %>
<% provide(:nav_color, "link-white") %>
<%= render partial: 'layouts/page_title', locals: { page_title: 'Dashboard' } %>
<%= render 'shared/notice' if flash.present? %>

<section class="padding-two">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <%= render 'sidebar' %>
      </div>
      <div class="col-md-9 col-md-offset-1">
        <%= render 'main' %>
      </div>
    </div>
  </div>
</section>
