<% provide(:title, "User Dashboard") %>

<%= render 'layouts/nav_dark_text' %>

<section class="margin-five padding-three">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= render 'sidebar' %>
      </div>
      <div class="col-md-8 col-md-offset-1">
        <%= render 'main' %>
      </div>
    </div>
  </div>
</section>
