<section class="content-top-margin page-title page-title-small bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-7 col-sm-12">
        <!-- page title -->
        <h1 class="black-text">Schedules</h1>
        <!-- end page title -->
      </div>
      <div class="col-lg-3 col-md-5 col-sm-12 breadcrumb text-uppercase xs-display-none">
        <!-- breadcrumb -->
        <ul class="pull-right">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Schedules", schedules_path %></li>
        </ul>
        <!-- end breadcrumb -->
      </div>
    </div>
  </div>
</section>
