<section class="page-title page-title-small bg-gray content-top-margin">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 center-col text-center">
        <h1 class="black-text">Schedules</h1>
      </div>
    </div>
  </div>
</section>
