<% provide(:title, 'Edit schedule') %>

<section class="padding-one">
  <div class="container">
    <div class="row">
      <div class="col-md-4 center-col">

        <h1 class="title-large text-center margin-four-bottom">Edit Schedule</h1>

        <%= form_for [@partner, @schedule] do |f| %>
          <%= render 'form', f: f %>

          <div class="margin-five pull-right">
            <%= link_to "Cancel", :back, class: secondary_button_small %>
            <%= f.submit "Update", class: primary_button_small %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
