<div class="reservation-limit-notice">
  <p>This partner can only be reserved for a maximum</p>
  <span><%= @schedule.klass.reservation_limit %> times/child/month</span>
  <p>Make sure to not overbook!</p>
</div>
