<div class="reservation-list">
  <h3>Reservations</h3>
  <table>
    <thead>
      <tr>
        <th></th>
        <th class="date">Reserved on</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td><%= reservation.child.first_name if reservation.child %></td>
          <td class="date"><%= reservation.created_at.strftime("%-d %b %Y") %></td>
          <td class="action">
            <%= link_to 'cancel', schedule_reservation_path(@schedule, reservation),
                method: :delete,
                data: { confirm: "Cancel reservation for #{reservation.child.first_name}?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
