/* ---------------------------------------------
  Front page js by Yiedpozi
  yiedpozi@gmail.com
----------------------------------------------- */
;(function($) {
	'use strict'

	/**
	 * Slider - Features
	 */
	function sliderFeatures() {
		var $sliderImages = $('.slider-features-images'),
			$sliderContent = $('.slider-features-content');

		// Slider image option
		$sliderImages.slick({
			slidesToShow: 1,
			asNavFor: '.slider-features-content',
			arrows: false,
			dots: false,
			infinite: false
		});

		// Slider content option
		$sliderContent.slick({
			slidesToShow: 1,
			appendArrows: '.slider-features .slider-nav .slider-arrows',
			appendDots: '.slider-features .slider-nav .slider-dots',
			asNavFor: '.slider-features-images',
			arrows: true,
			dots: true,
			infinite: false,
			adaptiveHeight: true
		});
	}

	/**
	 * Maps - Location
	 */
	var $map;
	function setupMap() {
		// If element exist
		if ($('#nearby-places').length) {
			// Create map
			var $map = new GMaps({
				div: '#nearby-places',
				lat: 37.6,
				lng: -95.665,
				zoom: 5,
				scrollwheel: false
			});

			// Add marker
			$map.addMarker({
				lat: 37.6,
				lng: -95.665,
				title: 'Title',
				infoWindow: {
					content: '<strong>Title</strong><p>Description</p>'
				},
				icon: '<%= asset_path("map-marker.png") %>'
			});
		}
	}

	// DOM ready
	$(function() {
		setupMap();
		sliderFeatures();
	});
})(jQuery);
