<% provide(:title, 'Add city') %>

<h1>Add City</h1>

<%= form_for(@city) do |f| %>

  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to "Cancel", admin_path %>
    <%= f.submit "Create" %>
  </div>
<% end %>
