<% provide(:title, @city.name) %>

<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @city.name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Delete', city_path(@city), method: :delete, data: { confirm: 'Are you sure?' } %>
