/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require et-line-icons
 *= require font-awesome
 *= require slick
 *= require chosen.min
 *= require ion.rangeSlider
 *= require frontpage
 *= require custom2
 *= require custom
 *= require style
 *= require style-ie
 *= require reservation
 *= require subscriptions
 *= require map
 *= require proile
 *= require responsive
 *= require onboard
 *= require wizard
 *= require curated
 *= require rewards
 *= require_self
 *= require bootsy
 */

hr {
  margin: 2em 0;
}

.horizontal-line {
  width:100%;
  text-align:center;
  border-bottom: 1px solid #e1e1e1;
  line-height:0.1em;
  margin:30px 0 30px;
}

.horizontal-line span {
  background:#fff;
  color: #787878;
  padding:0 10px;
}

.main-header {
  background: white;
}

.fb-sign-up-btn {
  color: white;
  text-align: center;
  background: #3b5998;
  padding: 10px 5px;
}

.fb-sign-up-btn .fa {
  color: white;
}

.email-sign-up-btn {
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 10px 5px;
}

.login-lead-div {
  padding: 15px 5px;
  text-align: center;
}
.login-lead-div a{
  color: #3eb4e2;
}

.child-form-section {
  border: 1px solid #e1e1e1;
}

#faq-sidebar li {
  font-size: 20px;
  padding: 5px;
  border-bottom: 2px solid #e1e1e1;
  margin-bottom: 10px;
}

#faq-sidebar li i.fa.fa-dot-circle-o {
  color: #3eb4e2;
}

.achievement-table  th, td{
  text-align: center;
}

.achievement-development-points-div {
  max-width: 165px;
}



/* user#show */
.sidebar-children {
  background: white;
    -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.children-list ul.nav > li {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  position: relative;
}

.children-list ul.nav > li.active,
.children-list ul.nav > li:hover {
  border: 1px solid #3eb4e2;
  color: white;
  background: #3eb4e2;
}

.children-list ul.nav > li.active a,
.children-list ul.nav > li:hover a,
.children-list ul.nav > li.active .fa,
.children-list ul.nav > li:hover .fa {
  color: white;
}
.children-list ul.nav > li .fa {
  position: absolute;
  top: 40%;
  right: 0px;
}

.children-list ul.nav > li a {
  font-weight: 600;
}

/* Reward sidebar*/
.reward-points-div {
  text-align: center;
}

.reward-points-div .point-amount {
  font-size: 26px;
}

.reward-points-div .point-label {
  font-size: 14px;
  margin-bottom: 15px;
}

.age-col {
  min-width: 65px;
}

/* Partner Page */
#partner-header-div {
  background-image: image-url('partner-bg.jpg');
  width: 100%;
  height: auto;
  min-height: 500px;
  padding: 30px 0;
  position: relative;
}
#partner-overlay {
  width: 100%;
  background: black;
  opacity: 0.3;
  position: absolute;
}
.partner-header-inner-div {
  text-align: center;
}
#partner-header-div h1 {
  margin-top: 8%;
  color: #3eb4e2;
  font-size: 45px;
  font-weight: 600;
  line-height: 60px;
}

.partner-header-inner-div a{
  margin-top: 45px;
  padding: 15px !important;
  font-size: 20px;
  z-index: 999;
}

#partnership-sign-up-form {
  max-width: 700px;
  margin: 0 auto;
  background: white;
  padding: 15px;
  border: 1px solid #3eb4e2;
}

#partnership-signup-div {
  background: image-url('weather.png') repeat;
}

#partnership-signup-div h2 {
  text-align: center;
  color: #3eb4e2;
  margin-bottom: 5px;
  font-weight: 600;
}
#partnership-signup-div p {
  text-align: center;
  margin-bottom: 15px;
  color: #3eb4e2;
  font-style: italic;
}
#partner-lead-div h2,
#partner-whyus-div h2{
  text-align: center;
  color: #3eb4e2;
  margin-bottom: 75px;
  font-weight: 600;
}

#partner-lead-div .lead-div{
  text-align: center;
}
#partner-whyus-div .lead-div {
  text-align: center;
  margin-bottom: 30px;
  height: 250px;
}
#partner-lead-div .lead-div img {
  width: 100px;
  height: 100px;
}
#partner-whyus-div .lead-div img {
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
}
#partner-whyus-div  p {
  font-size: 18px;
}
#partner-lead-div .lead-div h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 25px;
}