.curated-schedule-table .activity .klass-name{
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0 0;
}
.curated-schedule-table .activity .klass-activity-name{
  font-size: 15px;
  padding: 0 0 5px;
}

.curated-schedule-table .activity .klass-activity-name .label {
  border: 1px solid #e1e1e1;
  color: grey;
}

.curated-schedule-table .activity .partner-name{
  font-size: 14px;
  padding: 5px 0;
}
.curated-schedule-table .activity .timestamp{
  font-size: 12px;
}

.curated-schedule-table .development-elements {
  display: inline-block;
  padding: 10px;
  width: 110px;
}
.curated-schedule-table .development-elements .element-img img {
  width: 60px;
  height: 60px;
}

.curated-schedule-table .development-elements .element-img {
  position: relative;
  text-align: center;
  /*width: 60px;*/
}

.curated-schedule-table .development-elements .element-point {
  position: absolute;
  top: 0;
  right: 5px;
  border-radius: 50%;
  padding: 5px;
  background: #3eb4e2;
  color: white;
  font-size: 14px;
  text-align: center;
  font-weight: 800;
}

.curated-schedule-table .development-elements .element-title {
  text-align: center;
}

.table-responsive-block.curated-schedule-table th {
  text-align: center;
}

.tr.bold td {
  font-weight: 800;
}

@media screen and (max-width: 767px){
  .table-responsive-block.curated-schedule-table  td {
    height: initial;
    padding-left: 0 !important;
  }
  .table-responsive-block.curated-schedule-table tr {
    text-align: center;
  }

  .curated-schedule-table .development-elements {
    width: 80px;
  }

}


