/* ===================================
    Google font
====================================== */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);

/* ===================================
    Custom
====================================== */

/* font */
.title-font-300 {
  font-family: 'Roboto Condensed', 'Open Sans', sans-serif !important;
  font-weight: 300;
}

/* background color */
.bg-midnite-blue { background-color: #122E5A; }

/* margin */
.margin-two-top     { margin-top: 2% !important; }
.margin-five-top    { margin-top: 5% !important; }
.margin-eight-top   { margin-top: 8% !important; }
.margin-ten-top     { margin-top: 10% !important; }
.margin-one-right   { margin-right: 1% !important; }
.margin-one-bottom  { margin-bottom: 1% !important; }
.margin-two-four    { margin-top: 2% !important; margin-bottom: 4% !important; }
.margin-two-six     { margin-top: 2% !important; margin-bottom: 6% !important; }
.margin-three-ten   { margin-top: 3% !important; margin-bottom: 10% !important; }
.margin-ten-ten     { margin-top: 10% !important; margin-bottom: 10% !important; }

/* padding */
.padding-three-six { padding-top: 3% !important; padding-bottom: 6% !important; }

/* height */
.height-170 { max-height: 170px; }
.height-250 { max-height: 250px; }

/* width */
.width-10 { width: 10% !important; }

/* links */
.underline, .underline:hover,
.underline-hover:hover,
.link-underline a { text-decoration: underline; }

.link-white li a { color: #FFF !important; font-weight: 700; }

/* breadcrumbs */
.breadcrumb { padding-left: 0; }

/* overlays */
.overlay-dark {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
}

/* ===================================
    Typography
====================================== */

/* text sizes */
.text-12px { font-size:12px !important; line-height:20px !important; }
.text-13px { font-size:13px !important; line-height:21px !important; }

/* text color */
.green-text { color: #00BE60 !important; }

/* text property */
.uppercase { text-transform: uppercase !important; }

/* description */
dl {
  margin-top: unset;
  margin-bottom: unset;
}

.dl-schedule {
  dt { width: 70px; text-align: right; margin-bottom: 5px; }
  dd { margin-left: 90px; }
}

/* ===================================
    Buttons
====================================== */
.btn { margin-right: 5px !important; text-decoration: none !important; }
.btn.btn-small { padding: 1px 10px 2px 12px !important; }
.highlight-button-dark {
  border: 1px solid #000 !important;
  &:hover { background-color: #444 !important; color: #FFF !important; }
}
.btn-small-black-border-light:hover {
  background-color: #FFF !important;
  color: #000 !important;
}

/* ===================================
    Forms
====================================== */
.field {
  label {
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    height: 22px;
  }
  input, textarea {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-transform: none;
    line-height: 20px;
  }
}
.field_with_errors {
  input, textarea { border-color: #FF849B; }
}

select {
  font-size: 11px;
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  max-width: 100%;
  resize: none;
}

// select menu for time select
.hour   { width: 70px; }
.minute { width: 50px; }

.label-in-between { margin: 0 15px; text-transform: none !important; }

/* ===================================
    Alerts
====================================== */
.alert-style7 {
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  span { display: block; }
}
.alert-success { color: #000000; background-color: #00FFB2; }
.alert-danger  { color: #E51313; background-color: #FFF; }
.alert-success, .alert-danger { border-color: rgba(0,0,0,0); }

/* ===================================
    Tabs
====================================== */
.tab-style6 .nav-tabs {
  height:auto;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  li:first-child { margin-left: 15px; }
  li i { font-size: 17px; position: relative; top: 6px; }
  li a {
    border: none;
    color: #222;
    line-height: 40px;
    margin: 0 !important;
    padding: 0 20px;
    top: 2px;
    letter-spacing: 1px;
  }
  li.active {
    border: 1px solid #e5e5e5;
    border-bottom: none;
  }
  li.active a {
    background-color: #fff;
    position: relative;
    border-bottom: none;
    top: 1px;
  }
}

/* ===================================
    Box
====================================== */
.box {
  border: 1px solid #CCC;
  .box-title {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin: 0 10px 5px;
    padding: 15px 0;
    border-bottom: 1px solid #DDD;
  }
  .box-body { padding: 10px 20px 10px; }
  .box-buttons {
    height: 30px;
    margin-top: 10px;
    padding: 0 10px;
    text-align: center;
    .edit {
      width: 74%;
      float: left;
      border: 1px solid #DDD;
    }
    .delete {
      width: 24%;
      float: left;
      margin-left: 2px;
      border: 1px solid #AF4444;
      background-color: rgb(255, 105, 105);
      color: rgb(111, 30, 30);
    }
  }
}

/* ===================================
    Table
====================================== */
.table-cell-center {
  th, td { text-align: center !important; }
}

.th-border-unset > thead > tr > th { border-bottom: unset; }

/* ===================================
    Navigation
====================================== */
.navbar-default .navbar-nav > li > a:hover {
  border-bottom: 2px solid #FFF;
}

.non-sticky-nav {
  position: absolute;
  display: inline-table;
  .logo-light {
    height: 55px;
    vertical-align: middle;
    display: table-cell;
  }
}

/* ===================================
    Page title
====================================== */
.page-title-default {
  padding: 100px 0 0;
  h1 {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 3px;
    margin-bottom: 10px;
    text-align: center;
  }
}

/* ===================================
    Hero
====================================== */
.hero {
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  h1, p, span { color: #FFF; }
  h1 { font-size: 25px; letter-spacing: 1px; }
  p { font-weight: 600; letter-spacing: 1px;}
}

.hero-1 {
  height: 465px;
  padding: 175px 0 0;
  background: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.6), rgba(0,0,0,0.3)),
              image-url('hero1_465.jpg');
  h1 { margin-bottom: 15px; font-weight: 600; }
  p { font-size: 14px; }
}

.hero-2 {
  height: 335px;
  padding: 80px 0 0;
  background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.6), rgba(0,0,0,0.1)),
              image-url('hero2_335.jpg');
  h1 { margin-bottom: 15px; font-weight: 600; }
  p { font-size: 13px; }
}

/* ===================================
    Partners
====================================== */
.hero-partner {
  height: 350px;
  padding: 150px 0 0;
  h1 { font-weight: 700; margin-bottom: 0px; }
  p { margin-bottom: 0; }
  .phone { font-weight: 600; letter-spacing: 1px; }
}

.activities {
  border: 1px solid #EEE;
  text-align: center;
  padding: 20px;
  margin-bottom: 40px;
  h3 {
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-bottom: 5px;
  }
  p { margin-bottom: 0; word-spacing: 1px; }
}

.hero-partner-list {
  height: 350px;
  padding: 150px 0 0;
  background: image-url('klcc_350_darken.jpg');
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  position: relative;
  h1 {
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 5px;
  }
}

#partner-list {
  background-color: rgba(240, 240, 240, 0.6);
  padding: 50px 0;
}

.partner-grid { margin: 0 auto; }

.partner-grid-item {
  width: 300px;
  border: 1px solid rgba(95, 95, 95, 0.15);
  padding: 0px 0px 5px 0px;
  margin-bottom: 40px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 0.3);
  .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
}

.partner-grid-details {
  padding: 12px 15px 0;
  .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    display: block;
    color: #222;
    text-transform: uppercase;
    margin: 0 0 5px;
    line-height: 23px;
    letter-spacing: 0;
  }
  .address {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  .activity {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    span {
      background-color: rgba(255, 0, 85, 0.12);
      color: #98276C;
      margin: 5px 3px 0 0;
      padding: 1px 6px 2px 7px;
      border-radius: 2px;
      display: inline-block;
    }
  }
  .city {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform:uppercase;
    color: #797979;
  }
  .limit {
    display: block;
    font-size: 11px;
    margin-top: 10px;
    color: #777777;
    text-align: center;
    border-top: 1px solid #eee;
  }
}

/* ===================================
    Schedule
====================================== */
.schedule-item {
  border: 1px solid rgba(95, 95, 95, 0.15);
  padding: 0px 0px 5px 0px;
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 0.3);
  .image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
}
.schedule-item-details {
  padding: 12px 15px 0;
  text-align: center;
  .partner a {
    color: 1px solid #555;
    border-bottom: 1px solid #555;
    margin-left: 5px;
  }
  .description { margin: 25px; }
  .address {
    margin-top: 50px;
    h3 {
      font-weight: 700;
      font-size: 11px;
      letter-spacing: 1px;
    }
    p { margin-bottom: 15px; font-size: 13px; }
  }
  dl { margin-top: 30px; }
  dt { text-align: left;  margin-left:  140px; width: 50px; }
  dd { text-align: right; margin-right: 120px; }
  hr { margin: 3px 10px; }
}

/* ===================================
    Reservations
====================================== */
.reservation-limit-notice {
  margin: 0 0 40px;
  padding: 15px 0 13px;
  border: 1px solid #eee;
  text-align: center;
  p { margin-bottom: 0; }
  span {
    display: block;
    font-weight: bold;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
}

.reservation-list {
  margin: 0 0 60px;
  h3 {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Roboto Condensed', 'Open Sans', sans-serif;
    font-size: 18px;
  }
  table, thead, tbody, tr { border: 1px solid #eee; width: 100%; }
  th { font-weight: normal; font-size: 13px; text-transform: uppercase; }
  th, td { padding: 0 10px; border-left: 1px solid #eee; }
  th.date { font-size: 11px; letter-spacing: 1px; }
  td.date { width: 110px; }
  td.action { width: 30px; }
  .date { text-align: center; }
}

/* ===================================
    Mobile
====================================== */
@media screen and (max-width: 767px) {
  #partner-list { padding: 40px 0; }
}
