/*  Custom
====================================== */
.text-s-medium { font-size:12px !important; line-height:20px !important;}
.text-13px { font-size:13px !important; line-height:21px !important;}
.margin-five-top { margin-top: 5% !important; }
.margin-eight-top { margin-top: 8% !important; }
.margin-ten-top { margin-top: 10% !important; }
.margin-two-four { margin-top: 2% !important; margin-bottom: 4% !important; }
.margin-two-six { margin-top: 2% !important; margin-bottom: 6% !important; }
.uppercase { text-transform: uppercase !important;}
.height-300 { max-height: 250px; }
.link-underline, .link-underline:hover, .underline-hover:hover { text-decoration: underline; }
.green-text { color: #00BE60 !important; }

/*  Kits
====================================== */
.non-sticky-nav {
  position: absolute;
  display: inline-table;
  .logo-light { height: 55px; vertical-align: middle; display: table-cell; }
}

.page-title span {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.page-title-medium {
  min-height: 465px;
  padding: 175px 0 0 !important;
  h1 { font-size: 25px !important; }
}

.page-title-partner {
  min-height: 400px;
  padding: 150px 0 0 !important;
  h1 { font-size: 25px !important; }
}

.blog-post-images {
  background-color: #FFF !important;
  max-height: 150px;
  min-height: 150px;
}

/*  Buttons
====================================== */
.btn { margin-right: 5px !important; }
.btn.btn-small { padding: 1px 10px 2px 12px !important; }
.highlight-button-dark {
  border: 1px solid #000 !important;
  &:hover { background-color: #444 !important; color: #FFF !important; }
}
.btn-small-black-border-light:hover { background-color: #FFF !important; color: #000 !important; }

/*  Forms
====================================== */
.field {
  label { margin-bottom: 0; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; }
  input, textarea {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-transform: none;
    line-height: 20px;
  }
}
.field_with_errors {
  input, textarea { border-color: #FF849B; }
}

select { font-size: 12px !important; text-transform: none !important; }

.select-short  { width: 50px; }
.hour, .minute { margin-bottom: 0; }
.minute { width: 50px; }
.hour   { width: 70px; }
.day    { width: 55px; }
.month  { width: 110px; }
.year   { width: 70px; }

.label-in-between { margin: 0 15px; text-transform: none !important; }

.radio-select {
  font-size: 11px;
  margin: 0 0 0 1px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding: 0 10px 1px 11px;
  background-color: #F8F8F8;
  input[type="radio"] { margin-right: 6px; }
}

/*  Alerts
====================================== */
.alert-style7 {
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
  span { display: block; }
}
.alert-success { color: #000000; background-color: #00FFB2; }
.alert-danger  { color: #E51313; background-color: #FFF; }
.alert-success, .alert-danger { border-color: rgba(0,0,0,0); }
