/*  Custom
====================================== */
.text-s-medium { font-size:12px !important; line-height:20px !important;}
.margin-five-top { margin-top: 5% !important; }
.margin-eight-top { margin-top: 8% !important; }
.margin-ten-top { margin-top: 10% !important; }
.margin-two-four { margin-top: 2% !important; margin-bottom: 4% !important; }
.margin-two-six { margin-top: 2% !important; margin-bottom: 6% !important; }
.uppercase { text-transform: uppercase !important;}
.height-300 { max-height: 250px; }
.link-underline, .link-underline:hover, .underline-hover:hover { text-decoration: underline; }
.link-white li a { color: #FFF !important; font-weight: 700; }
.green-text { color: #00BE60 !important; }
.bg-blue { background-color: #0048B9; }

/*  Kits
====================================== */
.non-sticky-nav {
  position: absolute;
  display: inline-table;
  .logo-light { height: 55px; vertical-align: middle; display: table-cell; }
}

.page-title span {
  font-size: 12px !important;
  font-weight: 600 !important;
}

.page-title-default {
  padding: 100px 0 0;
  h1 {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    letter-spacing: 3px;
    border-bottom: 3px solid #e6af2a;
  }
}

.hero-frontpage {
  min-height: 465px;
  padding: 185px 0 0 !important;
  h1, span { color: #FFF; }
  h1 {
    font-size: 25px !important;
    letter-spacing: 1px !important;
  }
}

.hero-partner {
  min-height: 400px;
  padding: 100px 0 0 !important;
  h1, span { color: #FFF; font-weight: 700 !important; }
  h1 {
    font-size: 25px !important;
    letter-spacing: 6px;
    margin-bottom: 5px;
  }
}

.blog-post-images {
  background-color: #FFF !important;
  max-height: 150px;
  min-height: 150px;
}

/*  Buttons
====================================== */
.btn { margin-right: 5px !important; }
.btn.btn-small { padding: 1px 10px 2px 12px !important; }
.highlight-button-dark {
  border: 1px solid #000 !important;
  &:hover { background-color: #444 !important; color: #FFF !important; }
}
.btn-small-black-border-light:hover { background-color: #FFF !important; color: #000 !important; }

/*  Forms
====================================== */
.field {
  label { margin-bottom: 0; font-size: 11px; text-transform: uppercase; letter-spacing: 2px; }
  input, textarea {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 8px;
    text-transform: none;
    line-height: 20px;
  }
}
.field_with_errors {
  input, textarea { border-color: #FF849B; }
}

select { font-size: 12px !important; text-transform: none !important; }

.select-short  { width: 50px; }
.hour, .minute { margin-bottom: 0; }
.minute { width: 50px; }
.hour   { width: 70px; }
.day    { width: 55px; }
.month  { width: 110px; }
.year   { width: 70px; }

.label-in-between { margin: 0 15px; text-transform: none !important; }

.radio-select {
  font-size: 11px;
  margin: 0 0 0 1px;
  border: 1px solid #DFDFDF;
  border-radius: 5px;
  padding: 0 10px 1px 11px;
  background-color: #F8F8F8;
  input[type="radio"] { margin-right: 6px; }
}

/*  Alerts
====================================== */
.alert-style7 {
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 10px;
  span { display: block; }
}
.alert-success { color: #000000; background-color: #00FFB2; }
.alert-danger  { color: #E51313; background-color: #FFF; }
.alert-success, .alert-danger { border-color: rgba(0,0,0,0); }

/* ===================================
    Google font
====================================== */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);

/* ===================================
    Overlay
====================================== */
.overlay-dark {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
}

/* ===================================
    Partners
====================================== */
.hero-partner-list {
  height: 350px;
  padding: 150px 0 0;
  background: image-url('klcc_350_darken.jpg');
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat !important;
  position: relative;
  h1 {
    font-size: 25px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 5px;
  }
}

#partner-list {
  background-color: rgba(240, 240, 240, 0.6);
  padding: 50px 0;
}

.partner-grid { margin: 0 auto; }

.partner-grid-item {
  width: 300px;
  border: 1px solid rgba(95, 95, 95, 0.15);
  padding: 0px 0px 5px 0px;
  margin-bottom: 40px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 0.3);
  .image {
    width: 100%;
    height: 150px;
    overflow: hidden;
  }
}

.partner-grid-details {
  padding: 12px 15px 0;
  .title {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 19px;
    display: block;
    color: #222;
    text-transform: uppercase;
    margin: 0 0 5px;
    line-height: 23px;
    letter-spacing: 0;
  }
  .address {
    font-size: 12px;
    line-height: 18px;
    color: #333;
    margin-bottom: 20px;
  }
  .activity {
    font-size: 10px;
    line-height: 15px;
    text-transform: uppercase;
    font-weight: 600;
    span {
      background-color: rgba(255, 0, 85, 0.12);
      color: #98276C;
      margin: 5px 3px 0 0;
      padding: 1px 6px 2px 7px;
      border-radius: 2px;
      display: inline-block;
    }
  }
  .city {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform:uppercase;
    color: #797979;
  }
}

/* ===================================
    Mobile
====================================== */
@media screen and (max-width: 767px) {
  #partner-list { padding: 40px 0; }
}
