/* ---------------------------------------------
   Genius Pass
   Designed by Yiedpozi
   yiedpozi@gmail.com
----------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Oswald:300,400);

/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/
/* Heading */
.page-heading {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	color: #1b1b1b;
	text-transform: none;
	margin-bottom: 15px;
}

/* Paragraph */
.paragraph-text {
	font-family: 'Roboto', sans-serif;
	color: #444;
	line-height: 1.571em;
}

/* Button */
.gp-button {
	background-color: #3eb4e2;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	line-height: normal !important;
	border: 0;
	-webkit-border-radius: 3px !important;
	   -moz-border-radius: 3px !important;
			border-radius: 3px !important;
	-webkit-transition: background-color 300ms ease, color 300ms ease;
	   -moz-transition: background-color 300ms ease, color 300ms ease;
		 -o-transition: background-color 300ms ease, color 300ms ease;
			transition: background-color 300ms ease, color 300ms ease;
	padding: 5px 15px !important;
	margin: 0;
	display: inline-block;
}
.gp-button:hover,
.gp-button:focus {
	background-color: #1b1b1b;
	color: #fff;
}

/* Responsive Table */
.table-responsive-block { width: 100%; }
.table-responsive-block th,
.table-responsive-block td {
	border-bottom: 1px solid #ececec !important;
	line-height: normal !important;
}
.table-responsive-block th { padding: 5px !important; }
.table-responsive-block td { padding: 5px !important; }
@media screen and (max-width: 767px) {
	.table-responsive-block tbody tr {
		border-bottom: 1px solid #ececec !important;
		padding: 5px !important;
		display: block;
	}
	.table-responsive-block th { display: none; }
	.table-responsive-block td {
		border: 0 !important;
		padding: 1px 0 1px 30% !important;
		display: block;
		position: relative;
	}
	.table-responsive-block td:before {
		content: attr(data-title);
		width: 30%;
		font-size: 12px;
		padding: 3px 5px 0 0;
		position: absolute;
		top: 0;
		left: 0;
	}
}

/* Reset Animation */
.location-map,
#activity-schedule .schedule-filter .chosen-container *,
.irs * {
	-webkit-transition-duration: 0ms;
	   -moz-transition-duration: 0ms;
		 -o-transition-duration: 0ms;
			transition-duration: 0ms;
}

/* -----------------------------------*/
/* ---------->>> HEADER <<<-----------*/
/* -----------------------------------*/
header nav {
	background-color: #f5f5f5;
	width: 100%;
	height: auto;
	border: 0 !important;
	-webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
	   -moz-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
	        box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.08);
}
header nav .container {
	height: auto !important;
}

/* Logo */
header nav .brand-logo {
	width: auto;
	height: 70px;
	padding: 0 70px 0 0;
	position: relative;
}
header nav .brand-logo img {
	width: 100%;
	height: auto;
	max-height: 100%;
	padding: 15px;
}
@media screen and (max-width: 991px) {
	header nav .brand-logo { height: 60px; }
}

/* Navbar */
header nav .navbar-header {
	height: 70px;
}
header nav .navbar-header .navbar-toggle {
	background-color: #3eb4e2;
	width: 70px;
	height: 70px;
	text-align: center;
	padding: 0 !important;
	margin: 0 !important;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
header nav .navbar-header .navbar-toggle i {
	font-size: 18px;
	color: #fff;
	line-height: 70px;
	margin: 0;
}
header nav #top-nav {
	width: auto !important;
	border-color: #e3e3e3 !important;
}
header nav #top-nav .navbar-right {
	margin: auto 0 !important;
}
@media screen and (max-width: 991px) {
	header nav .navbar-header { height: 60px; }
	header nav .navbar-header .navbar-toggle { width: 60px; height: 60px;}
	header nav .navbar-header .navbar-toggle i { line-height: 60px; }
	header nav #top-nav { margin: 0 -15px !important; }
}

/* Menu Separator */
header nav #top-nav hr {
	border-color: #e3e3e3;
	margin: 0;
	display: none;
}
@media screen and (max-width: 991px) {
	header nav #top-nav hr { display: block !important; }
}

/* Main Navigation */
.main-nav,
.main-nav li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.main-nav li a {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 14px !important;
	color: #1b1b1b;
	text-transform: uppercase;
	border: 0;
	-webkit-transition: background-color 300ms ease, color 300ms ease;
	   -moz-transition: background-color 300ms ease, color 300ms ease;
		 -o-transition: background-color 300ms ease, color 300ms ease;
			transition: background-color 300ms ease, color 300ms ease;
}
.main-nav li a:hover,
.main-nav li a:focus,
.main-nav li.active a {
	background-color: #3eb4e2;
	color: #fff;
}
@media screen and (max-width: 991px) {
	.main-nav, .button-menu { margin: 7.5px -15px; }
	.main-nav li a {
		font-size: 13px;
		text-align: center;
		text-transform: uppercase;
		padding: 7px 15px;
		display: block;
	}
}
@media screen and (min-width: 992px) {
	.main-nav {
		float: left;
	}
	.main-nav li {
		float: left;
		position: relative;
	}
	.main-nav li a {
		font-size: 15px;
		line-height: 70px;
		padding: 0 15px;
		display: inline-block;
		position: relative;
	}
}

/* Button Type Menu */
.button-menu .btn-menu span,
.button-menu .btn-menu span:before {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
@media screen and (max-width: 991px) {
	.button-menu .btn-menu span {
		font-size: 13px;
		color: #1b1b1b;
		text-align: center;
		text-transform: uppercase;
		-webkit-transition: background-color 300ms ease, color 300ms ease;
		   -moz-transition: background-color 300ms ease, color 300ms ease;
			 -o-transition: background-color 300ms ease, color 300ms ease;
				transition: background-color 300ms ease, color 300ms ease;
		padding: 7px 15px;
		display: block;
	}
	.button-menu .btn-menu span:hover,
	.button-menu .btn-menu span:focus {
		background-color: #3eb4e2;
		color: #fff;
	}
}
@media screen and (min-width: 992px) {
	.button-menu {
		padding-left: 30px;
		margin: 19px 0;
		float: left;
	}
	.button-menu .btn-menu {
		-webkit-perspective: 1000px;
		   -moz-perspective: 1000px;
				perspective: 1000px;
		margin-right: 3px;
		float: left;
	}
	.button-menu .btn-menu:last-child {
		margin-right: 0 !important;
	}
	.button-menu .btn-menu span {
		background-color: #1b1b1b;
		color: #fff;
		-webkit-transition: -webkit-transform 300ms ease;
		   -moz-transition: -moz-transform 300ms ease;
			 -o-transition: -o-transform 300ms ease;
				transition: transform 300ms ease;
		-webkit-transform-origin: 50% 0;
		   -moz-transform-origin: 50% 0;
			 -o-transform-origin: 50% 0;
				transform-origin: 50% 0;
		-webkit-transform-style: preserve-3d;
		   -moz-transform-style: preserve-3d;
			 -o-transform-style: preserve-3d;
				transform-style: preserve-3d;
		display: block;
		position: relative;
	}
	.button-menu .btn-menu span,
	.button-menu .btn-menu span:before {
		font-size: 14px;
		line-height: 26px;
		padding: 3px 15px;
	}
	.button-menu .btn-menu.secondary span {
		background-color: transparent;
		color: #1b1b1b;
	}
	.button-menu .btn-menu.secondary span:after {
		content: '';
		width: 100%;
		height: 100%;
		border: 2px solid #1b1b1b;
		position: absolute;
		top: 0;
		left: 0;
	}
	.button-menu .btn-menu span:before {
		content: attr(data-title);
		background-color: #3eb4e2;
		width: 100%;
		height: 100%;
		-webkit-transition: background 300ms ease;
		   -moz-transition: background 300ms ease;
			 -o-transition: background 300ms ease;
				transition: background 300ms ease;
		-webkit-transform: rotateX(-90deg);
		   -moz-transform: rotateX(-90deg);
			 -o-transform: rotateX(-90deg);
				transform: rotateX(-90deg);
		-webkit-transform-origin: 50% 0;
		   -moz-transform-origin: 50% 0;
			 -o-transform-origin: 50% 0;
				transform-origin: 50% 0;
		position: absolute;
		top: 100%;
		left: 0;
	}
	.button-menu .btn-menu span:hover,
	.button-menu .btn-menu span:focus {
		color: #fff;
		-webkit-transform: rotateX(90deg) translateY(-22px);
		   -moz-transform: rotateX(90deg) translateY(-22px);
			 -o-transform: rotateX(90deg) translateY(-22px);
				transform: rotateX(90deg) translateY(-22px);
	}
	.button-menu .btn-menu span:hover:before,
	.button-menu .btn-menu span:focus:before {
		background-color: #3eb4e2;
	}
}


/* -----------------------------------*/
/* -------->>> PAGE DETAILS <<<-------*/
/* -----------------------------------*/
.page-details {
	background: #fff center/cover no-repeat;
	width: 100%;
	height: auto;
	min-height: 130px;
	text-align: center;
	position: relative;
	top: -30px;
	position: relative;
	z-index: 1;
}
.page-details:before {
	content: '';
	background-color: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}
.page-details.default { background: #3eb4e2 image-url('page-details-bg.png') repeat-x !important; }
.page-details h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 60px;
	padding: 45px;
	margin: 0;
	position: relative;
	z-index: 3;
}


/* Main & Sidebar */
.content-main,
.content-sidebar .sidebar-widget {
	background-color: #fff;
	color: #444;
	-webkit-border-radius: 5px;
	   -moz-border-radius: 5px;
			border-radius: 5px;
	-webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.15);
	padding: 20px;
	margin-bottom: 30px;
	overflow: hidden;
}
.content-main h3,
.content-sidebar .sidebar-widget h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #1b1b1b;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

/* Sidebar Widget - Footer */
.content-sidebar .sidebar-widget .sidebar-footer {
	background-color: #1b1b1b;
	text-align: center;
	padding: 10px 20px;
	margin: 20px -20px -20px;
}

/* -----------------------------------*/
/* ---------->>> CONTENT <<<----------*/
/* -----------------------------------*/

//* Section */
.section-row {
	background-color: #fff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 50px 0;
	display: block;
	position: relative;
	overflow: hidden;
}

.section-row.cta-container {
	background-color: #3eb4e2;
	padding: 25px;
}
.section-row.cta-container .lead-text h2{
	line-height: 48px;
	text-align: left;
	color: white;
	font-size: 22px;
}
.section-row.cta-container .lead-btn a {
	padding: 10px;
	text-align: center;
	color: white;
	font-size: 18px;
	font-weight: 700;
	background: #e74c3c;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.section-row.mid h2 {
	text-align: center;
	font-weight: 600;
	margin-bottom: 5px;
}

.section-row p.headline-description {
  font-size: 18px;
  text-align: center;
  color: #787878;
	margin-bottom: 45px;
}

.section-row.elements-container
{
	background: #F8F8F9;
}

.section-row.last-cta-container {
  background-image: image-url('footerbg.png');
  object-fit: cover;
  object-position: top;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 30px 0;
}

.section-row.mobile-app-container {
	background: #3eb4e2;
}

.section-row.gray-bg .description {
	text-align: center;
}

.section-row.gray-bg .brief-title-div {
	text-align: center;
	position: relative;
}
.section-row.gray-bg .brief-title-div img {
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0;
	top: 0;
}

.section-row.gray-bg .brief-title-div .description {
	width: 100%;
	text-align: center;
	padding-left: 150px;
	font-size: 18px;
}


.last-cta-container .form-inline{
	text-align: center;
}


.elements-container .element {
	height: 125px;
	background: gray;
	margin-bottom: 15px;
}

.footer-cta-container {
	margin-top: 15%;
}

.footer-cta-container p {
	font-size: 18px;
}

/* Section Heading */
.section-heading {
	font-size: 35px;
	font-weight: 300;
	color: #1b1b1b;
	text-align: center;
	letter-spacing: 0 !important;
	padding: 0 0 15px;
	margin: 0 0 50px;
	position: relative;
}
.section-heading:before {
	content: '';
	width: 30px;
	height: auto;
	border-bottom: 2px solid #3eb4e2;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

/* Section Text */
.section-text {
	font-size: 18px;
	color: #1b1b1b;
	margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
	.section-text { font-size: 16px; }
}

/* -----------------------------------*/
/* ------->>> SECTION - MAIN <<<------*/
/* -----------------------------------*/
#section-main {
	background-image: image-url('row-bg-main.jpg') no-repeat bottom center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 30px 0;
	background-position: left;
}

#section-main h1 {
	text-transform: initial;
	color: white;
}

#section-main .header-text-container {
	margin-top: 15%;
}
#section-main .header-text-container h1{
	color: white;
	font-size: 24px;
	text-align: center;
	font-weight: 600;
	text-shadow: 2px 2px #787878;
}

#section-main .header-text-container .lead {
	font-size: 28px;
	font-weight: 700;
	color: white;
	text-align: center;
	text-shadow: 2px 2px #787878;
}

#section-main.mobile-main {
	min-height: initial;
}

.mobile-main .get-started-btn {
	display: block;
	width: 100%;
	margin:0 !important;
}

#section-main {
	.mobile {
		&.header-text-container {
			margin-top: 0%;
		}
		&.header-text-container h1{
			color: white;
			font-size: 20px;
			text-align: center;
			font-weight: 500;
			text-shadow: 2px 2px #787878;
		}

		&.header-text-container .lead {
			font-size: 22px;
			font-weight: 700;
			color: white;
			text-align: center;
			text-shadow: 2px 2px #787878;
		}
	}
}

.send-request-zipcode-form {
	padding: 15px;
	background: rgba(192,192,192, 0.6);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-bottom: 15px;
}

.send-request-zipcode-form .contact-request-text{
	margin-bottom: 0;
	margin-left: 10px;
	padding-left: 45px;
	margin: 0 auto;
}

.send-request-zipcode-form input[type="submit"] {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-left: 20px;
}

.send-request-zipcode-form .form-group {
	position: relative;
}

.user-email:before {
	content: '';
	background: #fff image-url('form-field-icon-sprite.png');
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  background-position: -25px 0;
}

.user-postcode:before {
	content: '';
	background: #fff image-url('form-field-icon-sprite.png');
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  left: 15px;
  background-position: -100px 0;
}

.header-activities {
	display: inline-block;
	width: 75px;
	text-align: center;
}

.header-activities img {
	width: 50px;
	height: 50px;
	text-align: center;
}
.header-activities .title {
	text-align: center;
	font-weight: 600;
	font-size: 14px;
}

.benefits-container {
	margin-bottom: 15px;
	text-align: center;
}
.benefits-container img {
	margin: 0 auto;
	width: 178px;
	height: 179px;
}

.benefits-container .title {
	font-size: 18px;
	font-weight: 600;
	text-align: center;
}


.components-div {
	text-align: center;
}

.components-div .component {
	display: inline-block;
	padding: 20px;
}

.components-div .component img {
	width: 100px;
	height: 100px;
}

.components-div .component .title {
	font-weight: 600;
	font-size: 18px;
	text-align: center;
}

.curated-components-div {
	text-align: center;
}

.curated-components-div .component {
	display: inline-block;
	padding: 15px;
}

.curated-components-div .component img {
	width: 50px;
	height: 50px;
}

.curated-components-div .component .title {
	font-weight: 600;
	font-size: 12px;
	text-align: center;
}
.curated-components-div .component .activities-count {
	font-size: 12px;
}

.mobile-app-container .left-container {
	text-align: center;
}
.mobile-app-container .left-container img{
	height: 365px;
	margin-bottom: 30px;
}

.mobile-app-container .right-container h2{
	font-size: 30px;
	margin-bottom: 45px;
}

.mobile-app-container .right-container p {
	font-size: 18px;
	text-align: center;
}

.appstore-dl-container {
	text-align: center;
	padding: 30px 0;
}
.appstore-img-dl {
	width: 200px;
	height: 80px;
	margin: 15px;
}


/* Section Headline */
.section-headline {
	background-color: #3eb4e2;
	font-size: 45px;
	color: #fff;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	line-height: 70px;
	padding: 0 10px;
	margin: 0 0 0 5px;
	display: inline-block;
	position: relative;
}
.section-headline:nth-of-type(2) {
	margin: 5px 0 0 45px;
}
.section-headline:before,
.section-headline:after {
	content: '';
	border-style: solid;
	position: absolute;
	top: 0;
}
.section-headline:before {
	border-width: 0 0 70px 5px;
	border-color: transparent transparent #3eb4e2 transparent;
	left: -5px;
}
.section-headline:after {
	content: '';
	border-width: 70px 5px 0 0;
	border-color: #3eb4e2 transparent transparent transparent;
	right: -5px;
}

.partner-feature-img {
	position: relative;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}
.partner-feature-img img {
	width: 100%;
	height: 230px;
}

.partner-feature-img .company {
	position: absolute;
	font-size: 22px;
	font-weight: 500;
	height: 100px;
  bottom: 0;
  padding: 20px 10px;
  color: white;
  padding-top: 35px;
}

.partner-feature-img .bg-overlay {
  background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000',GradientType=0);
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.cta-partner {
	background: #3eb4e2;
	color: white;
	height: 230px;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
	position: relative;
}

.cta-partner:before {
	content: '\f25a';
  font-family: 'FontAwesome';
  font-size: 125px;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 55px;
  left: 25%;
}
.cta-partner .title {
	font-size: 40px;
  padding: 15px;
  position: absolute;
  top: 55%;
}

.cta-partner .description {
	font-size: 20px;
  padding: 0 15px;
  position: absolute;
  top: 80%;
}
@media screen and (max-width: 767px) {
	.section-headline {
		font-size: 30px;
		line-height: 45px;
		padding: 0 10px;
	}
	.section-headline:before { border-width: 0 0 45px 5px; }
	.section-headline:after { border-width: 45px 5px 0 0; }
}

/* Section Sub Heading */
.section-subheading {
	background-color: #1b1b1b;
	font-size: 20px;
	color: #fff;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	line-height: 24px;
	padding: 5px 20px;
	margin: 10px 0 50px;
	display: inline-block;
	position: relative;
}
.section-subheading:before,
.section-subheading:after {
	content: '';
	border-style: solid;
	position: absolute;
	top: 0;
}
.section-subheading:before {
	border-width: 0 3px 34px 0;
	border-color: transparent #1b1b1b transparent transparent;
	left: -3px;
}
.section-subheading:after {
	content: '';
	border-width: 34px 0 0 3px;
	border-color: transparent transparent transparent #1b1b1b;
	right: -3px;
}

/* Section Text */
#section-main .section-text {
	color: #fff;
	text-shadow: 0 3px 5px #1b1b1b;
}

/* Subscription Form */
.subscription-form-container {
	width: 100%;
	max-width: 700px;
	text-align: center;
	margin: 15px auto 0;
	position: relative;

}
.subscription-form-container .form-label {
	font-weight: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	padding: 7px 15px;
	margin-bottom: 10px;
	display: none;
}
.subscription-form {
	border: 2px solid #fff;
	border-radius: 50px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
	overflow: hidden;
	position: relative;
}
.subscription-form .form-field {
	background-color: #fff;
	width: 100%;
	height: 40px;
	font-family: 'Roboto', sans-serif !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	color: #1b1b1b !important;
	text-transform: none !important;
	letter-spacing: 0.02em !important;
	line-height: normal !important;
	border: 0;
	-webkit-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.2);
	   -moz-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.2);
			box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.2);
	padding: 10px 110px 10px 15px;
	margin: 0;
}
.subscription-form .form-submit-btn {
	background-color: #3eb4e2;
	width: 100px;
	height: 40px;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #fff !important;
	text-transform: uppercase;
	letter-spacing: 0.02em !important;
	line-height: 19px !important;
	border: 0;
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	   -moz-border-radius-topright: 50px;
	   -moz-border-radius-bottomright: 50px;
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
	-webkit-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.15);
			box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: background-color 300ms ease;
	   -moz-transition: background-color 300ms ease;
		 -o-transition: background-color 300ms ease;
			transition: background-color 300ms ease;
	padding: 10px 15px;
	position: absolute;
	top: 0;
	right: 0;
}
.subscription-form .form-submit-btn:hover,
.subscription-form .form-submit-btn:focus {
	background-color: #1b1b1b;
}

/* Map Image */
.map-image {
	width: auto;
	height: 100px;
	float: right;
	position: relative;
	pointer-events: none;
}
.map-image img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	-webkit-user-select: none;
	   -moz-user-select: none;
		 -o-user-select: none;
	 -khtml-user-select: none;
			user-select: none;
	float: left;
}
.map-image .map-label {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #1b1b1b;
	text-transform: uppercase;
	border-bottom: 3px double #1b1b1b;
	-webkit-transform: translateY(-50%);
	   -moz-transform: translateY(-50%);
		 -o-transform: translateY(-50%);
			transform: translateY(-50%);
	margin: 0 0 0 15px;
	display: inline-block;
	position: relative;
	top: 50%;
}
@media screen and (max-width: 991px) {
	.map-image { display: none; }
}

/* -----------------------------------*/
/* ------->>> SECTION - FLAG <<<------*/
/* -----------------------------------*/
#section-flags {
	background-image: image-url('row-bg-flags.png');
	width: 100%;
	height: auto;
	padding: 30px 0;
	display: block;
}
#section-flags .small-heading {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	color: #1b1b1b;
	line-height: 25px;
	text-transform: uppercase;
	padding-top: 5px;
	display: inline-block;
}
#section-flags .heading {
	font-family: 'Oswald', sans-serif;
	font-size: 40px;
	color: #3eb4e2;
	line-height: 45px;
	text-transform: uppercase;
	padding: 0 0 5px;
	margin: 0;
}
#section-flags .heading span {
	font-weight: 300;
}

/* Flag List */
.flag-list {
	padding: 8px 0;
	display: block;
}
.flag-list ul,
.flag-list li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.flag-list ul {
	float: right;
	display: inline-block;
}
.flag-list li {
	padding-right: 15px;
	display: inline-block;
}
.flag-list li:last-child {
	padding-right: 0 !important;
}
@media screen and (max-width: 991px) {
	.flag-list { text-align: center; }
	.flag-list ul { float: none !important; }
}

/* -----------------------------------*/
/* ----->>> SECTION - FEATURES <<<----*/
/* -----------------------------------*/
#section-features {
	background-image: image-url('row-bg-features.jpg');
	width: 100%;
	height: auto;
	min-height: 600px;
}

#section-features .section-heading:before {
	border-color: #fff;
}

/* Slider - Nav */
.slider-features .slider-nav {
	margin-top: 15px;
	display: inline-block;
}

/* Slider - Dots Button */
.slider-features .slider-nav .slider-dots {
	padding-right: 30px;
	margin: 0 -2px;
	float: left;
}
.slider-features .slider-nav .slider-dots .slick-dots,
.slider-features .slider-nav .slider-dots .slick-dots li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.slider-features .slider-nav .slider-dots .slick-dots {
	padding: 12.5px 0;
}
.slider-features .slider-nav .slider-dots .slick-dots li {
	line-height: 0;
	padding: 0 2px;
	float: left;
}
.slider-features .slider-nav .slider-dots .slick-dots li button {
	background-color: #fff;
	width: 10px;
	height: 10px;
	font-size: 0;
	line-height: 0;
	vertical-align: top;
	border: none;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
			border-radius: 50px;
	-webkit-transition: background-color 300ms ease, color 300ms ease;
	   -moz-transition: background-color 300ms ease, color 300ms ease;
		 -o-transition: background-color 300ms ease, color 300ms ease;
			transition: background-color 300ms ease, color 300ms ease;
	padding: 0;
}
.slider-features .slider-nav .slider-dots .slick-dots li button:hover,
.slider-features .slider-nav .slider-dots .slick-dots li.slick-active button {
	background-color: #1b1b1b;
}

/* Slider - Arrows Button */
.slider-features .slider-nav .slider-arrows {
	float: left;
}
.slider-features .slider-nav .slider-arrows .slick-arrow {
	background-color: #fff;
	width: 35px;
	height: 35px;
	font-size: 0;
	color: #1b1b1b;
	text-transform: uppercase;
	border: none;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
			border-radius: 50px;
	-webkit-transition: background-color 300ms ease, color 300ms ease;
	   -moz-transition: background-color 300ms ease, color 300ms ease;
		 -o-transition: background-color 300ms ease, color 300ms ease;
			transition: background-color 300ms ease, color 300ms ease;
	padding: 0;
	display: inline-block;
	float: left;
	position: relative;
}
.slider-features .slider-nav .slider-arrows .slick-arrow:hover {
	background-color: #1b1b1b;
	color: #fff;
}
.slider-features .slider-nav .slider-arrows .slick-arrow:first-child {
	margin-right: 5px;
}
.slider-features .slider-nav .slider-arrows .slick-arrow:before {
	content: '';
	font-family: 'FontAwesome';
	font-size: 20px;
	line-height: 35px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.slider-features .slider-nav .slider-arrows .slick-arrow.slick-prev:before {
	content: '\f104';
}
.slider-features .slider-nav .slider-arrows .slick-arrow.slick-next:before {
	content: '\f105';
}
.slider-features .slider-nav .slider-arrows .slick-arrow.slick-disabled {
	background-color: #fff;
	color: #1b1b1b;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0.5;
}

/* Slider - Container */
.slider-features .slider-features-container {
	position: relative;
}

/* Slider - Feature Image (Phone Frame) */
.slider-features .slider-phone-frame {
	background: transparent image-url('iphone-mockup.png') center/248px 500px no-repeat;
	width: 248px;
	height: 500px;
	margin: 0 0 0 auto;
}
.slider-features .slider-features-images {
	background-color: #1b1b1b;
	width: 216px;
	height: 383px;
	color: #fff;
	position: absolute;
	top: 59px;
	right: 31px;
}
@media screen and (max-width: 767px) {
	.slider-features .slider-phone-frame, .slider-features .slider-features-images { margin: 0 auto; }
	.slider-features .slider-features-images {
		left: 0;
		right: 0;
	}
}

/* Slider - Feature Content */
.slider-features .slider-features-content .feature-content .feature-title {
	font-size: 45px;
	font-weight: 300;
	color: #fff;
	text-transform: uppercase;
	padding: 0;
	margin: 80px 0 15px;
}
.slider-features .slider-features-content .feature-content .feature-title span {
	font-weight: 400;
}
.slider-features .slider-features-content .feature-content .feature-description {
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
}
@media screen and (max-width: 767px) {
	.slider-features .slider-features-content .feature-content .feature-title {
		width: 100%;
		margin-top: 30px;
	}
}

/* -----------------------------------*/
/* --->>> SECTION - SUBSCRIPTION <<<--*/
/* -----------------------------------*/
#section-subscription {
	background: #fff image-url('row-bg-subscription.png') top repeat-x;
	width: 100%;
	height: auto;
        background-size: 100% 100%;
}

/* -----------------------------------*/
/* ----->>> SECTION - PARTNERS <<<----*/
/* -----------------------------------*/
.partners-list .partner-details,
.partners-list .partner-explore {
	background-color: #000;
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
	margin-bottom: 30px;
	position: relative;
}
.partners-list .partner-explore {
	background-color: #3eb4e2;
	display: block;
}
.partners-list .partner-explore:hover {
	-webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.3);
}
.partners-list .partner-details .partner-info,
.partners-list .partner-explore .partner-content {
	width: 100%;
	height: 230px;
	position: relative;
	overflow: hidden;
}
.partners-list .partner-explore .partner-content {
	padding: 30px;
}
.partners-list .partner-explore .partner-content:before {
	content: '\f25a';
	font-family: 'FontAwesome';
	font-size: 125px;
	color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 55px;
	left: 30px;
}
.partners-list .partner-details .partner-info .partner-bg {
	width: 130%;
	max-width: none;
	position: absolute;
	top: 0px;
	left: -30%;
}
.partners-list .partner-details .partner-info .partner-logo {
	width: 50px;
	height: auto;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 10;
}

.default-partner-logo{
  background: white;
  padding: 20px 2px;
}
.partners-list .partner-details .partner-info .label-title {
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	font-weight: 300;
	color: #fff;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	padding: 10px 15px;
	position: absolute;
	bottom: 10px;
	left: 55px;
	z-index: 10;
        height: 60px;
        overflow: hidden;
}
.partners-list .partner-details .partner-info .bg-overlay {
	background: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
	background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
	background: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
	background: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.8));
	background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.8));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000',GradientType=0);
	height: 100px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9;
}
.partners-list .partner-details .label-activities {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: auto;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	line-height: normal !important;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding: 8px 15px;
	position: absolute;
	bottom: 70px;
	overflow: hidden;
}
.partners-list .partner-explore .partner-content .label-title {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #fff;
	text-align: right;
}
.partners-list .partner-explore .partner-content .label-description {
	background-color: rgba(0, 0, 0, 0.15);
	width: 100%;
	height: auto;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	padding: 7px 15px;
	position: absolute;
	bottom: 0;
	left: 0;
}

/* -----------------------------------*/
/* ----->>> SECTION - LOCATION <<<----*/
/* -----------------------------------*/
#section-location {
	background-color: #fff;
	width: 100%;
	height: auto;
	min-height: 500px;
	padding: 0;
    margin-bottom: -30px;

}

/* Google Maps */
.location-map {
	width: 100%;
	display: block;
	position: relative;
}
@media screen and (max-width: 767px) {
	#section-location { min-height: 350px; }
	.location-map { height: 350px; }
}

/* Location Info Box */
.location-info {
	background-color: #fff;
	width: 350px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	display: block;
	position: absolute;
	top: 150px;
	right: 15%;
}
.location-info:hover {
	-webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.location-info:before {
	content: '\f278';
	font-family: 'FontAwesome';
	font-size: 125px;
	color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 0;
	right: 10%;
	z-index: 9;
}
.location-info .location-info-container {
	padding: 30px;
	position: relative;
	z-index: 99;
}
.location-info .location-info-container:before {
	content: '';
	width: auto;
	height: auto;
	border: 1px dashed rgba(0, 0, 0, 0.15);
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 3px;
	right: 3px;
	pointer-events: none;
}
.location-info .location-info-counter {
	font-size: 70px;
	font-weight: 300;
	color: #3eb4e2;
	padding: 0;
	margin: 0;
}
.location-info .location-info-title {
	font-size: 25px;
	font-weight: 300;
	text-transform: uppercase;
	padding: 0;
	margin: 3px 0 0;
}
.location-info .location-info-description {
	font-size: 16px;
	font-weight: 300;
	color: #3eb4e2;
	margin-top: 10px;
	display: block;
}
.location-info .location-info-bar {
	background-color: #3eb4e2;
	width: 100%;
	height: auto;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	text-align: right;
	text-transform: uppercase;
	padding: 7px 15px;
	position: relative;
	overflow: hidden;
}
.location-info .location-info-bar:before {
	content: '//';
	font-size: 150px;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.15);
	line-height: 30px;
	letter-spacing: -35px;
	position: absolute;
	top: 0;
	left: -17px;
}

/* -----------------------------------*/
/* ---->>> LOGIN & SIGN UP PAGE <<<---*/
/* -----------------------------------*/
/* Login & Sign Up Container */
.login-container,
.signup-container {
	background-color: #fff;
	width: 100%;
	height: auto;
	max-width: 430px;
	min-height: 250px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
	padding: 30px;
	margin: 0 auto;
}

/* Login & Sign Up Heading */
.login-container h1,
.signup-container h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #333;
	text-align: center;
	letter-spacing: 0;
	margin-bottom: 30px;
}

/* Login Avatar */
.login-container .login-avatar {
	background: #fff image-url('default-avatar.png') center/110px 110px no-repeat;
	width: 110px;
	height: 110px;
	border: 3px solid #fff;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
	margin: 30px auto;
	position: relative;
}

/* Form */

.form-container.form-horizontal .form-group
{
	margin-right: 0px;
	margin-left: 0px;
}

.form-container.form-horizontal .required
{
	font-size: inherit;
	font-size: inherit;
	display: inherit;
	text-transform: inherit;
	letter-spacing: inherit;
}


// .form-container .form-group .control-label {
// 	padding: 8px 8px 0 0;
// }
.form-container .form-group .form-control {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: none;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	// -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	//    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	//         box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	padding: 10px 15px;
	margin-bottom: 15px;
}
.form-container .form-group .form-control:hover {
	border-color: #ccc;
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
	        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.form-container .form-group .form-control:focus {
	border-color: #3eb4e2;
	-webkit-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	        box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.form-container .form-group .checkbox, .form-container .form-group .checkbox { text-align: center; }
.form-container .form-group .checkbox label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #444;
}
.form-container .form-group .checkbox input { margin-top: 7px; }
.form-container .form-group .form-submit-btn {
	width: 100%;
	padding: 10px 15px !important;
}

/* Form Field Error */
.form-container .form-group.has-error .form-control { border-color: #d55; }
.form-container .form-group.has-error span.help-block {
	background-color: #d55;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	line-height: normal;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	padding: 3px 10px;
	display: block;
}

/* Form Help Text */
.form-container .form-group span.help-block {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 300;
	font-style: italic;
	color: #999;
	line-height: normal;
	margin-bottom: 0;
}

/* Login Form Meta */
.login-container .form-meta {
	text-align: center;
	padding: 15px 5px;
}
.login-container .form-meta a { color: #3eb4e2; }
.login-container .form-meta a:hover,
.login-container .form-meta a:focus {
	color: #1b1b1b;
	text-decoration: underline;
}

/* -----------------------------------*/
/* ------->>> DASHBOARD PAGE <<<------*/
/* -----------------------------------*/
/* Children List */
.children-list .gp-button { padding: 5px 25px !important; }
.children-list .gp-button:hover,
.children-list .gp-button:focus {
	background-color: #fff;
	color: #1b1b1b;
}
.children-list .children-list-table {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 300;
	margin: 0;
}
.children-list .children-list-table tr { border-bottom: 1px dashed #ececec; }
.children-list .children-list-table th, .children-list .children-list-table td { padding: 5px; }
.children-list .children-list-table td.children-number {
	font-weight: 500;
	text-align: right;
}

/* Activity Tab */
.activity-tab {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.activity-tab .nav-tabs {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #e3e3e3;
	text-align: left;
	margin-bottom: 15px;
}
.activity-tab .nav-tabs li { margin: 0 1px; }
.activity-tab .nav-tabs li:first-child { margin-left: 15px; }
.activity-tab .nav-tabs li a {
	background-color: #fff;
	font-size: 14px;
	font-weight: 400;
	color: #999;
	text-transform: uppercase;
	letter-spacing: 0;
	border-width: 0;
	border-style: solid;
	border-color: #e3e3e3;
	padding: 10px 25px;
	margin: 0 0 -1px;
}
.activity-tab .nav-tabs li a:hover, .activity-tab .nav-tabs li.active a { color: #1b1b1b; }
.activity-tab .nav-tabs li.active a {
	border-width: 1px 1px 0;
}
@media screen and (max-width: 767px) {
	.activity-tab .nav-tabs { display: table; }
	.activity-tab .nav-tabs li { display: table-cell; }
	.activity-tab .nav-tabs li a { width: 100%; }
}

/* Tab Content */
.activity-tab .tab-content .empty-content {
	text-align: center;
	padding: 70px 0;
}
.activity-tab .tab-content .empty-content i {
	width: 60px;
	height: 55px;
	font-size: 30px;
	color: #3eb4e2;
	line-height: 55px;
	text-align: center;
	border: 1px dashed #3eb4e2;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	margin-bottom: 15px;
}
.activity-tab .tab-content .empty-content h3 {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	font-weight: 300;
	color: #1b1b1b;
	text-transform: none;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
.activity-tab .tab-content .empty-content p {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #1b1b1b;
	letter-spacing: 0;
}
.activity-tab .tab-content .empty-content p a { font-weight: 400; }

/* Activity Table */
.activity-tab .activity-table th {
	font-size: 14px;
	font-weight: 500;
	color: #acacac;
	text-transform: uppercase;
}
.activity-tab .activity-table td { font-weight: 300; }

/* -----------------------------------*/
/* -------->>> PROFILE PAGE <<<-------*/
/* -----------------------------------*/
.edit-profile-form { margin-top: 30px; }
.edit-profile-form .form-group .form-control {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.edit-profile-form .form-action {
	text-align: center;
	margin: 0 !important;
}
.edit-profile-form .form-action .form-submit-btn { width: auto !important; }

/* -----------------------------------*/
/* ------->>> SCHEDULE PAGE <<<-------*/
/* -----------------------------------*/
/* Filter Form */
#activity-schedule { padding: 30px; }
#activity-schedule .schedule-filter {
	background: #3eb4e2 image-url('schedule-filter-bg.png') repeat-x;
	font-weight: 300;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	   -moz-border-radius-topleft: 5px;
	   -moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
	padding: 0 15px;
	margin: -30px -30px 30px;
	position: relative;
}

/* Various Filter Box */
#activity-schedule .schedule-filter .various-filter {
	border-bottom: 1px solid #1f9dce;
}
#activity-schedule .schedule-filter .various-filter .filter-box {
	border-right: 1px solid #1f9dce;
	border-left: 1px solid #6ac5e9;
	padding: 15px;
}
#activity-schedule .schedule-filter .various-filter .filter-box:first-child {
	border-left: 0 !important;
}
#activity-schedule .schedule-filter .various-filter .filter-box:last-child {
	border-right: 0 !important;
}
#activity-schedule .schedule-filter .various-filter .filter-box label {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-bottom: 25px;
	margin: 0;
	display: block;
}
#activity-schedule .schedule-filter .chosen-container a {
	height: 35px;
	line-height: 34px;
	padding: 0 15px;
}
#activity-schedule .schedule-filter .chosen-container a div b {
	position: relative;
	top: 5px;
}
#activity-schedule .schedule-filter .chosen-container .chosen-results li {
	padding: 8px 11px;
}
@media screen and (max-width: 767px) {
	#activity-schedule .schedule-filter .various-filter .filter-box label { padding-bottom: 5px !important; }
}
@media screen and (max-width: 991px) {
	#activity-schedule .schedule-filter .various-filter { border-bottom: 0 !important; }
	#activity-schedule .schedule-filter .various-filter .filter-box {
		border-width: 1px 0 1px;
		border-style: solid;
		border-color: #6ac5e9 transparent #1f9dce;
	}
	#activity-schedule .schedule-filter .various-filter .filter-box:first-child { border-top: 0 !important; }
}

/* Time Slider */
.irs {
	height: 45px;
	margin-top: -10px;
}
.irs-with-grid {
	height: 65px;
}
.irs-line {
	background-color: #1b86b1;
	border: 1px solid #1b86b1;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
			border-radius: 50px;
	-webkit-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
	        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.15);
}
.irs-line,
.irs-bar {
	top: 29px;
}
.irs-line,
.irs-line .irs-line-left,
.irs-line .irs-line-mid,
.irs-line .irs-line-right,
.irs-bar {
	height: 5px;
}
.irs-min,
.irs-max {
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	line-height: 1.333;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
	-webki-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	padding: 1px 3px;
	top: 0;
}
.irs-from,
.irs-to,
.irs-single {
	background-color: #1b1b1b;
	font-size: 11px;
	font-weight: 500;
	color: #fff;
	line-height: 1.333;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
	-webki-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
	padding: 1px 5px;
}
.irs-from:after,
.irs-to:after,
.irs-single:after {
	content: '';
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top-color: #1b1b1b;
	margin-left: -3px;
	display: block;
	position: absolute;
	bottom: -6px;
	left: 50%;
	overflow: hidden;
}
.irs-bar {
	background-color: #88d1ed;
	-webkit-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5);
	   -moz-box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5);
	        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.5);
}
.irs-slider {
	background-color: #fff;
	width: 17px;
	height: 17px;
	-webkit-border-radius: 50px;
	   -moz-border-radius: 50px;
			border-radius: 50px;
	-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	   -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	top: 23px;
}
.irs-slider.state_hover,
.irs-slider:hover {
}
.irs-grid-pol {
	background-color: #fff;
}
.irs-grid-text {
	color: #fff;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.15);
}

/* Date Filter */
#activity-schedule .schedule-filter .date-filter {
	border-top: 1px solid #6ac5e9;
	margin: 0 -15px;
}
#activity-schedule .schedule-filter .date-filter .date-filter-inner {
	padding: 15px;
	position: relative;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose {
	display: block;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose,
#activity-schedule .schedule-filter .date-filter #date-filter-choose li {
	text-align: center;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 55px;
}


#date-filter-choose {
	height: 40px;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	width: 90%;
}

#right-scroll-btn {
	position: absolute;
	right: 9%;
	color: white;
	font-size: 20px;
	top: 25px;
	cursor: pointer;
}

@media screen and (max-width: 767px) {
  #right-scroll-btn {
		right: -3px;
		top: 25px;
	}
}





#activity-schedule .schedule-filter .date-filter #date-filter-choose label
{
	background-color: transparent;
    color: #b4e2f4;
    margin-bottom: 0px;
    padding: 5px 15px;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose label:hover
{
	background-color: #1f9dce;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose input[type="radio"]:checked + label
{
    background-color: #fff;
    color: #146584;
}

#activity-schedule .schedule-filter .date-filter #date-filter-choose input[type="radio"]
{
	width: 0px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose li {
	display: inline-block;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose li a {
	background-color: transparent;
	color: #b4e2f4;
	-webkit-transition: background-color 300ms ease, color 300ms ease;
	   -moz-transition: background-color 300ms ease, color 300ms ease;
		 -o-transition: background-color 300ms ease, color 300ms ease;
			transition: background-color 300ms ease, color 300ms ease;
	padding: 5px 15px;
	display: block;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose li:hover a {
	background-color: #1f9dce;
}
#activity-schedule .schedule-filter .date-filter #date-filter-choose li.selected a {
	background-color: #fff;
	color: #146584;
}
#activity-schedule .schedule-filter .date-filter #date_filter_dropdown_chosen {
	display: none;
}

@media screen and (max-width: 767px) {
	#activity-schedule .schedule-filter .date-filter #date-filter-choose { display: block; }
	#activity-schedule .schedule-filter .date-filter #date_filter_dropdown_chosen { display: block; }
	#date-filter-choose {
		width: 100%;
	}
}
@media (min-width: 1200px) {
	#activity-schedule .schedule-filter .date-filter { padding-bottom: 0 !important; }
}


/* -----------------------------------*/
/* ------>>> RESERVATION PAGE <<<-----*/
/* -----------------------------------*/
/* Schedule Item */
.schedule-item-container .schedule-image { margin: -20px -20px 20px; }
.schedule-item-container .schedule-details {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.schedule-item-container .schedule-details .level {
	font-size: 13px;
	line-height: normal;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 3px;
}
.schedule-item-container .schedule-details .activity {
	font-family: 'Oswald', sans-serif;
	font-size: 35px;
	color: #3eb4e2;
}
