/* ===================================
    Mobile
====================================== */
@media screen and (max-width: 767px) {
  #section-location { height: 200px;}
  .map-height-main{ height: 350px;}
  .map-height{ height: 200px;}
  .hide-for-small{ display: none; }
}

.map-height-main{ height: 500px;}
.map-height{ height: 300px;}
.heading-blue
{
  font-family: 'Oswald', sans-serif;
  color: #3eb4e2;
  font-size: 15px;
  font-weight: 400;
}
.content-grey
{
  color: #1b1b1b;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

#partner-marker-map {
  height: 350px;
  border: 1px solid rgba(95, 95, 95, 0.15);
  padding: 0px 0px 5px 0px;
  margin-top: 20px;
  background-color: #FFF;
  box-shadow: 0px 2px 3px 0px rgba(222, 222, 222, 0.3);
}

#partner-map {
  padding: 0 !important;
  background-color: rgba(240, 240, 240, 0.6);
}

#partner-map-container {
  position: relative;
}

.search-div {
  width: 100%;
  position: absolute;
  bottom: 5%;
  pointer-events: none;
}

#search-form-div {
  max-width: 450px;
  margin: 0 auto;
  pointer-events: auto;
}

#search-form-div .input-group {
  max-width: 500px;
  margin: 0 auto;
}

#search-form-div .input-group .input-group-btn {
  font-size: initial;
}