#onboard-container .tab-content {
  margin-top: 40px;
}

#child_info_div {
  margin: 0 auto;
  text-align: center;
}

#child_info_div .info {
  text-align: center;
  font-size: 28px;
  line-height: 30px;
  margin-top: 45px;
}

#complete-redirect .info {
  text-align: center;
  margin-top: 45px;
}

#complete-redirect .info h1 {
  margin-bottom: 30px;
}
#complete-redirect .info p{
  text-align: center;
  margin-bottom: 50px;
  font-size: 16px;
}

.brain-result,
#left-brain-percent,
#right-brain-percent {
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

#child_info_div .brain-img {
  margin: 0 auto;
  text-align: center;
}


#complete-redirect .redirect-btn,
#child_info_div .redirect-btn {
  padding: 18px;
  background: #FF0072;
  color: white;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .brain-result,
  #left-brain-percent,
  #right-brain-percent {
    font-size: 24px;
    padding: 5px;
  }
}

.questions-div .individual {
  margin-bottom: 30px;
}
.questions-div {
  display: none;
}
.questions-div p {
  border-radius: 10px;
  color: white;
  background: #177A9D;
  padding: 20px 10px;
}

.answer-btn.gp-button {
  background: none;
  border: none;
}
.answer-btn.gp-button img {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.answer-btn.gp-button.active img {
  border-radius: 50%;
  -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.75);
}


.questions.progress {
  height: 30px;
  margin: 4% 10% 7%;
  border: 10px solid #00C098;
  background-color: white;
  overflow: initial;
}

@media screen and (max-width: 500px) {
  .questions.progress {
    margin: 30px 0 60px 40px;
  }
}
.questions.progress .percentage {
  position: absolute;
  left: -50px;
  top: -26px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #00A885;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}
.questions.progress .progress-bar {
  background-color: #00A885;
  position: relative;
}