#user_location
{
  height: 40px;
}




/* Link */
.gp-link {
	font-size: 14px;
	color: #1b1b1b;
	padding-bottom: 3px;
	position: relative;
	cursor: pointer;
}
.gp-link:before {
	content: '';
	width: 100%;
	height: auto;
	border-bottom: 1px dotted #1b1b1b;
	-webkit-transition: border-color 300ms ease;
	   -moz-transition: border-color 300ms ease;
		 -o-transition: border-color 300ms ease;
			transition: border-color 300ms ease;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.gp-link:hover, .gp-link:active { color: #3eb4e2; }
.gp-link:hover:before, .gp-link:active:before { border-color: #3eb4e2; }

.edit-profile-form .form-control, .edit-profile-form .help-block, .edit-profile-form p.help-block
{
  width: 66%;
  float: right;
}

.edit-profile-form p.help-block
{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 300;
  font-style: italic;
  color: #999;
  line-height: normal;
  margin-bottom: 0;
}


/* Form Popup Heading Description */
.form-popup-container > span {
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}

/* Form */
.form-container .form-section .form-section-title,
.form-container .form-section .form-section-subtitle {
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	margin: 30px 0;
	display: block;
	position: relative;
}
.form-container .form-section .form-section-subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}
.form-container .form-separator {
	background-color: #ececec;
	width: 100%;
	height: 5px;
	margin: 30px 0;
	display: block;
}
.form-container .form-group { position: relative; }
.form-container .form-group .control-label {
  height: auto;
	line-height: normal;
	padding-top: 8px;
}
.form-control {
	font-family: 'Roboto', sans-serif;
	font-size: 13px !important;
	font-weight: 400;
	color: #1b1b1b;
	text-transform: none;
	line-height: 20px;
	letter-spacing: 0;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	// -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	//    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	// 		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	padding: 6px 12px !important;
	margin-bottom: 15px;
}
select.form-control {
	height: 34px;
	text-indent: 4px;
	padding: 0px !important;
}
.form-control:hover {
	border-color: #ccc;
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.form-control:focus {
	border-color: #3eb4e2;
	-webkit-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
}
.form-control[disabled]:hover,
.form-control[readonly]:hover,
fieldset[disabled] .form-control:hover {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.form-control[disabled]:focus,
.form-control[readonly]:focus,
fieldset[disabled] .form-control:focus {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
}
.form-container .form-group .checkbox label {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #444;
	font-weight: 400;
}
.form-container .form-group .checkbox input { margin-top: 7px; }
.form-container .form-group .form-submit-btn {
	width: 100%;
	padding: 10px 15px !important;
}


.form-container .form-section .form-section-title,
.form-container .form-section .form-section-subtitle {
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	margin: 30px 0;
	display: block;
	position: relative;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
}


.form-popup-container > span {
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 5px;
	display: block;
}
.form-container .form-section .form-section-title,
.form-container .form-section .form-section-subtitle {
	text-align: center;
	text-transform: none;
	letter-spacing: 0;
	margin: 30px 0;
	display: block;
	position: relative;
}
.form-container .form-section .form-section-subtitle {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 15px;
}
.form-container .form-separator {
	background-color: #ececec;
	width: 100%;
	height: 5px;
	margin: 30px 0;
	display: block;
}
.form-container .form-group { position: relative; }
.form-container .form-group .control-label {
	height: auto;
	line-height: normal;
	padding-top: 8px;
}
.form-control {
	font-family: 'Roboto', sans-serif;
	font-size: 13px !important;
	font-weight: 400;
	color: #1b1b1b;
	text-transform: none;
	line-height: 20px;
	letter-spacing: 0;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	// -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	//    -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	// 		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	padding: 6px 12px !important;
	margin-bottom: 15px;
}
select.form-control {
	height: 34px;
	text-indent: 4px;
	padding: 0px !important;
}
.form-control:hover {
	border-color: #ccc;
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
}
.form-control:focus {
	border-color: #3eb4e2;
	-webkit-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
			box-shadow: 0 0 8px 0 rgba(62, 180, 226, 0.3), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.03), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.03);
}
.form-control[disabled]:hover,
.form-control[readonly]:hover,
fieldset[disabled] .form-control:hover {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.05), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.05);
}
.form-control[disabled]:focus,
.form-control[readonly]:focus,
fieldset[disabled] .form-control:focus {
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
	   -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
			box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08), inset 2px 2px 3px 0 rgba(0, 0, 0, 0.08);
}
.form-container .form-group .checkbox label {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #444;
	font-weight: 400;
}
.form-container .form-group .checkbox input { margin-top: 7px; }
.form-container .form-group .form-submit-btn {
	width: 100%;
	padding: 10px 15px !important;
}
