
/* -----------------------------------*/
/* -------->>> PAYMENT PAGE <<<-------*/
/* -----------------------------------*/

/* Pricing Table */
.package-pricing-table-container {
	width: 100%;
	text-align: center;
	padding-top: 15px;
	display: block;
}
.package-pricing-table {
	width: 100%;
	max-width: 280px;
	height: auto;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	border: 1px solid #d5d5d5;
	-webkit-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
	   -moz-box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
			box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
	vertical-align: top;
	padding: 15px;
	margin: 15px 5px;
	display: inline-block;
	position: relative;
}

.package-pricing-table.featured:before {
	content: '';
	background: transparent asset-url('featured-ribbon.png') center/80px 80px no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	top: -6px;
	right: -5px;
}
.package-pricing-table .package-pricing-title {
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	line-height: normal;
	text-transform: uppercase;
	margin: 15px 0 5px;
	display: block;
	position: relative;
}
.package-pricing-table .package-pricing-price {
	line-height: normal;
	margin-bottom: 40px;
	display: block;
	position: relative;
}
.package-pricing-table .package-pricing-price .package-pricing-currency {
	font-size: 18px;
	font-weight: 300;
	color: #3eb4e2;
	position: relative;
	top: -30px;
	left: 3px;
}
.package-pricing-table .package-pricing-price .package-original-pricing-number {
	display:block;
	text-decoration: line-through;
	font-size: 16px;
	color: #555;
}
.package-pricing-table .package-pricing-price .package-pricing-number {
	font-size: 60px;
	font-weight: 300;
	color: #3eb4e2;
}
.package-pricing-table .package-pricing-price .package-pricing-subtitle {
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	display: block;
}
.package-pricing-table .package-pricing-price .package-pricing-saving-subtitle {
	font-size: 12px;
	font-style: italic;
}
.package-pricing-table .package-pricing-price .package-pricing-details {
	margin-top: 5px;
	display: block;
}
.package-pricing-table .package-pricing-content {
	font-weight: 300;
	color: #555;
	margin: 15px 0;
}
.package-pricing-table .package-pricing-content ul,
.package-pricing-table .package-pricing-content li {
	list-style-type: none;
	text-align: left;
	padding: 0;
	margin: 0;
}
.package-pricing-table .package-pricing-content li {
	line-height: 30px;
	border-top: 1px dotted #cecece;
	padding-left: 15px;
}
.package-pricing-table .package-pricing-content li:last-child { border-bottom: 1px dotted #cecece; }
.package-pricing-table .package-pricing-content li i { color: #3eb4e2; }
.package-pricing-table .package-pricing-action { margin-bottom: 15px; }
.package-pricing-table .package-pricing-action a {
	font-size: 13px;
	font-weight: 300;
	line-height: normal;
	display: inline-block;
}
.package-pricing-table .package-pricing-action .gp-button {
	background-color: transparent;
	color: #3eb4e2;
	border: 2px solid #3eb4e2 !important;
	-webkit-border-radius: 50px !important;
	   -moz-border-radius: 50px !important;
			border-radius: 50px !important;
	padding: 7px 25px !important;
	margin: 30px auto 0;
	display: block;
}
.package-pricing-table .package-pricing-action .gp-button:hover,
.package-pricing-table .package-pricing-action .gp-button:active {
	background-color: #3eb4e2;
	color: #fff;
	border-color: #3eb4e2;
}

/* Promo Code */
.package-promo-code { margin-top: 15px; }
/*.package-promo-code .form-container .form-group { margin: 0 -2px; }*/
.package-promo-code .form-container .form-group .promocode-input, .package-promo-code .form-container .form-group .promocode-submit { padding: 0 2px; }
.package-promo-code .form-container .form-group .form-control {
	border-color: #ccc;
	padding: 7px 10px !important;
	margin: 0;
}
.package-promo-code .form-container .form-group .form-control:focus { border-color: #3eb4e2; }
.package-promo-code .form-container .form-group .form-submit-btn {
	background-color: #1b1b1b;
	color: #fff;
	line-height: 22px !important;
	text-transform: uppercase;
	border: 0 !important;
	-webkit-border-radius: 0 !important;
	   -moz-border-radius: 0 !important;
			border-radius: 0 !important;
	padding: 7px 10px !important;
	margin: 0;
}
.package-promo-code .form-container .form-group .form-submit-btn:hover, .package-promo-code .form-container .form-group .form-submit-btn:active { background-color: #3eb4e2; }

/* Package Subscription */
#package-subscription #dropin {
	border: 20px solid #e1e1e1;
	border-radius: 5px;
}

/* Basic Package Link */
.basic-package-link {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	margin: 15px 0 0;
}
.basic-package-link span {
	font-size: 13px;
	font-weight: 400;
	color: #444;
	display: block;
}

#package-subscription .modal-footer #suscribe_btn {
	border-radius: 5px;
}

/* Custom fixes */
.collapse.in
{
  overflow: hidden;
}


.success-panel
{
  border: 1px solid green;
  color: green;
  border-radius: 15px;
}
