<% provide(:title, 'Add activity') %>

<h1>Add Activity</h1>

<%= form_for(@activity) do |f| %>

  <%= render 'form', f: f %>

  <div class="actions">
    <%= link_to "Cancel", admin_path %>
    <%= f.submit "Create" %>
  </div>
<% end %>
