<ol class="breadcrumb text-13px">
  <li><%= link_to "Home", admin_path %></li>
  <li><%= link_to @partner.company, admin_partner_path(@partner) %></li>
  <li><%= @schedule.klass.name %></li>
  <li class="active">Reservations</li>
</ol>
