<!-- Footer Widget Area -->
<div class="footer-widget-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="about" class="footer-widget">
          <h3 class="page-heading footer-title primary">Genius<strong>Pass</strong></h3>
          <p class="footer-content">GeniusPass is the first membership created exclusively for children to provide them unlimited access to variety of top studios and facilities. One single pass that is going to transform the lifestyle of children to a brighter future generation.</p>
        </div>
        <div id="social-media" class="footer-widget">
          <div class="social-media-icon-list">
            <a href="#" title="Like Us On Facebook" target="_blank" class="social-media-icon facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" title="Follow Us On Twitter" target="_blank" class="social-media-icon twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" title="Follow Us On Instagram" target="_blank" class="social-media-icon instagram"><i class="fa fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div id="quick-link" class="footer-widget">
          <h3 class="page-heading footer-title">Learn More</h3>
          <ul class="footer-nav">
            <li><%= link_to "Schedules", schedules_path %></li>
            <li><%= link_to "Partners",  partners_path, :"data-no-turbolink" => true %></li>
            <li><a href="#" title="FAQ">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div id="contact" class="footer-widget">
          <h3 class="page-heading footer-title">Contact Us</h3>
          <div class="contact-info">
            <div class="contact-details contact-email">
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:ask@geniuspass.com" title="Contact via email" class="contact-text">ask@geniuspass.com</a>
            </div>
          </div>
        </div>
        <div id="contact-partner" class="footer-widget">
          <h3 class="page-heading footer-title">Interested to Partner?</h3>
          <div class="contact-info">
            <div class="contact-details contact-email-partner">
              <i class="fa fa-envelope-o"></i>
              <a href="mailto:partner@geniuspass.com" title="Contact via email" class="contact-text">partner@geniuspass.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left-not-xs text-left-not-sm text-center-xs text-center-sm">
        <p class="copyright-text">&copy; Copyright 2015 - Genius Pass - All Rights Reserved</p>
      </div>
      <div class="col-md-6">
        <ul class="bottom-nav">
          <li><%= link_to "Privacy Policy", privacy_path %></li>
          <li><%= link_to "Terms & Conditions", terms_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
