<header>
  <nav>
    <h1><%= link_to "GeniusPass", root_path %></h1>
    <%= link_to "Home", root_path %> |
    <%= link_to "Schedules", '#' %> |
    <%= link_to "Partners", partners_path %>
  </nav>
  <br>
</header>
