<nav class="navbar navbar-default navbar-fixed-top nav-transparent overlay-nav sticky-nav nav-border-bottom position-relative" role="navigation">
  <div class="container">
    <div class="row">
      <!-- logo -->
      <div class="col-md-3 pull-left">
        <%= link_to image_tag("logo.png", class: "logo-style-2"), root_url, class: "logo-light" %>
      </div>
      <!-- end logo -->
      <!-- main menu -->
      <div class="col-md-9 text-right">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Schedules", schedules_path %></li>
          <li><%= link_to "Partners", partners_path %></li>
        </ul>
      </div>
      <!-- end main menu -->
    </div>
  </div>
</nav>
