<% provide(:title, 'Add class') %>

<section class="padding-one">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h1 class="title-large text-center margin-four-bottom">Add Class</h1>

        <%= form_for [@partner, @klass] do |f| %>
          <%= render 'form', f: f %>

          <div class="margin-five pull-right">
            <%= link_to "Cancel", admin_partner_path(@partner),
                class: "btn-small-black-border-light btn btn-small button" %>
            <%= f.submit "Create", class: "highlight-button-dark btn btn-small button" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</section>
